<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Autolayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2D564761CB24A3D0077D150</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2D5648A1CB24A3D0077D150</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2D564951CB24A3D0077D150</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
